<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data <%= title %></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Program Studi</th>
                        <th>Fakultas</th>
                        <th>Kaprodi</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% let no = 1;%>
                    <% data.forEach(element => { %>
                    <tr>
                        <td><%= no++ %></td>
                        <td><%= element.nama_prodi %></td>
                        <td><%= element.Fakultas.nama_fakultas %></td>
                        <td><%= element.Staf.nama_lengkap %></td>
                        <td>
                            <a class="badge badge-primary">edit</a>
                            <a class="badge badge-danger">hapus</a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>